language: go

go:
    - 1.3
    - release

install:
    - go get code.google.com/p/go.tools/cmd/cover
    - go get github.com/mattn/goveralls

script:
    - go get -v ./...
    - go test -v ./...
    - tools/coverage-all
    - $HOME/gopath/bin/goveralls -coverprofile=coverage-all.out -service=travis-ci -repotoken rL3QaMJ8DmJYUSFmeF5V3DFZf21ICaTRN

branches:
    only:
        - master
